%html
  %head
    %title
      = (current_page.data.title ? "#{current_page.data.title} - " : '') + app_data.site.title
    %style


  %body
    :css
      body { background-color: #fff; text-align: center; font-family: Arial, sans-serif }
      ul { padding: 0;}
      li { list-style-type: none; display: inline-block; padding: 1rem;}
      svg { padding-top: 5rem; padding-bottom: 3rem; }
      footer {position: fixed; bottom: 1rem;left: 0; right: 0}

    %header
      %ul
        - app_data.site.links.each do |name, link|
          %li
            %a{href: link, target: '_blank'}
              = name
    = yield
    %footer
      = "&copy; Copyright #{Time.new.year} #{app_data.site.title}"